<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/main.css}">
<head>
    <meta charset="UTF-8">
    <title>Add customer</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customers">View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/countries">Countries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add-customer">Add  <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container inner-padded">
    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success}">
        <strong>Success!</strong> The new customer was added.
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${success} == false">
        <strong>Oops!</strong> Something has gone wrong :(
    </div>

    <div class="row justify-content-center align-items-center">
        <h1 class="display-3">New customer</h1>
    </div>
    <div class="row">
        <div class="col-sm-6 offset-3">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <form action="#" th:action="@{/add-customer}" th:object="${customer}" method="post">
                        <div class="form-group">
                            <label for="inputId">Identification code</label>
                            <input type="text" class="form-control" id="inputId" th:field="*{customerID}" required />
                            <small id="idHelp" class="form-text text-muted">This must be unique</small>
                        </div>
                        <div class="form-group">
                            <label for="inputFirstName">First Name</label>
                            <input type="text" class="form-control" id="inputFirstName" th:field="*{firstName}" required />
                            <small id="firstNameHelp" class="form-text text-muted">What's your first name?</small>
                        </div>
                        <div class="form-group">
                            <label for="inputLastName">Last Name</label>
                            <input type="text" class="form-control" id="inputLastName" th:field="*{lastName}" required />
                            <small id="lastNameHelp" class="form-text text-muted">What's your last name?</small>
                        </div>
                        <div class="form-group">
                            <label for="inputCountry">Country name</label>
                            <input type="text" class="form-control" id="inputCountry" th:field="*{country}" required />
                            <small id="companyHelp" class="form-text text-muted">Where do you come from?</small>
                        </div>
                        <div class="form-group">
                            <label for="inputPhone">Phone</label>
                            <input type="text" class="form-control" id="inputPhone" th:field="*{phone}" required />
                            <small id="phoneHelp" class="form-text text-muted">Include your international code (e.g. +47)</small>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="text" class="form-control" id="inputEmail" th:field="*{email}" required />
                            <small id="mailHelp" class="form-text text-muted">Please enter your email</small>
                        </div>
                        <button type="submit" class="btn btn-success">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>
