<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
    </head>
    <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customers">View</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/countries">Countries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add-customer">Add</a>
                </li>
                <form class="form-inline my-2 my-lg-0" th:action="@{/search}">
                    <input class="form-control mr-sm-2" id="form" type="search" required="required" placeholder="Search for a track..." aria-label="Search" th:name="searchQuery">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">Search</button>
                </form>
            </ul>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome to MusicDB!</h1>
            <p></p>
            <p>Below you can see 5 random tracks, artists and genres</p>
            <p>
                <a class="btn btn-success btn-lg" href="/customers" role="button">View customers &raquo;</a>
                <a class="btn btn-light btn-lg" href="/add-customer" role="button">Add customer &raquo;</a>
            </p>
        </div>

        <div class="container">
            <div>
                <h1>Random Tracks</h1>
            </div>
            <div>
                <ul class="list-group">
                    <li class="list-group-item" th:each="tr:${tracks}" th:text="${tr.getName()}"></li>
                </ul>
            </div>
            <div>
                <h1>Random Artists</h1>
            </div>
            <div>
                <ul class="list-group">
                    <li class="list-group-item" th:each="art:${artists}" th:text="${art.getArtistName()}"></li>
                </ul>
            </div>
            <div>
                <h1>Random Genres</h1>
            </div>
            <div>
                <ul class="list-group">
                    <li class="list-group-item" th:each="gen:${genres}" th:text="${gen.getGenreName()}"></li>
                </ul>
            </div>
        </div>
    </div>
    </body>
</html>
