<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <head>
        <meta charset="UTF-8">
        <title>View customer</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customers">View <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/countries">Countries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add-customer">Add</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container inner-padded">
            <div class="row justify-content-center align-items-center">
                <h1 class="display-3">Details</h1>
            </div>
            <div class="row">
                <div class="col-sm-6 offset-3">
                    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${customer.getFullName()}"></h5>
                            <p class="card-text" th th:text="${customer.getCountry()}"></p>
                            <p class="card-text" th:text="${customer.getPostalCode()}"></p>
                            <p class="card-text" th:text="${customer.getPhone()}"></p>
                            <p class="card-text" th:text="${customer.getEmail()}"></p>
                            <p class="card-text" th:text="${customer.getCustomerID()}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
