<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <head>
        <meta charset="UTF-8">
        <title>Popular Countries</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customers">View</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/countries">Countries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add-customer">Add</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="container">
                <div>
                    <h1>TopList of Countries</h1>
                </div>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item" th:each="cr:${countries}" th:text="${cr.getName()}"></li>
                    </ul>
                </div>

            </div>
        </div>
    </body>
</html>
